@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-[#0B132B] text-white;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-[#5BC0BE]/30 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#5BC0BE]/50;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}